* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Layout */

#area-cabecalho {
    background: #1d1c1c;
    padding: 15px;
    text-align: center;
}

#area-menu, #area-logo {
    padding: 10px;
}

#area-principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

.area-postagens {
    width: 660px;
    float: left;
}

#area-lateral {
    width: 240px;
    float: right;
}

.conteudo-lateral {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #CCC;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.texto-lateral {
    font-size: 0.8em;
    padding: 5px;
}

/* Formatação do Menu */

a:link, a:visited {
    color: #f7b600;
}

a:hover {
    text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
    color: #FFF;
    padding: 8px 12px;
}

#area-cabecalho a:hover {
    background: #FFF;
    color:#000000;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* Formatações Gerais */

h1 {
    color: #00D3AD;
    font-size: 2.6em;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #ffffff;
}

.form{
    padding: 20px;
    text-align: center;
}

.form img{
    max-width: 500px;
    width: 100%;
}

.form input[type=text],
.form input[type=email]{
    padding-left: 10px;
    display: block;
    border-radius: 20px;
    margin:10px auto;
    font-size: 16px;
    max-width: 500px;
    width: 100%;
    height: 35px;
    border: 1px solid rgb(0, 0, 0);
}

.form textarea{
    padding: 10px;
    resize: vertical;
    display: block;
    border-radius: 20px;
    margin:10px auto;
    max-width: 500px;
    width: 100%;
    height: 120px;
}

.form input[type=submit]{
    padding-left: 10px;
    display: block;
    border-radius: 20px;
    margin:10px auto;
    font-size: 16px;
    max-width: 500px;
    width: 100%;
    cursor:pointer;
    color: rgb(0, 0, 0);
    background-color: 00D3AD;
    height: 35px;
    border: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
footer{
    background-color: #000000;
    padding: 25px 0;
    position: fixed;
        bottom: 0px;
    width: 100%;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
    
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 30%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 19px;
    color: #00D3AD;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 14px;
    text-transform: capitalize;
    color: #00D3AD;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.2s ease;
}
.footer-col ul li a:hover{
    color: #00D3AD;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: #00D3AD;
    border: 1px solid white;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #00D3AD;
    background-color: white;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 7px;
    font-size: 13px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #000000;
}
.footer-col .form-sub input::placeholder{
    color: white;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 15px;
    padding: 10px; 
    font-size: 13px;
    outline: none;
    border: 15px;
    cursor: pointer;
    color: #000000;
    border-radius: 3px;
    font-weight: bold;
    background-color: #00D3AD;       
}
/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}
